<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Newsreader.ttf</string>
		<string>Newsreader-Italic.ttf</string>
		<string>Outfit.ttf</string>
		<string>Theme/Fonts/Newsreader.ttf</string>
		<string>Theme/Fonts/Newsreader-Italic.ttf</string>
		<string>Theme/Fonts/Outfit.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google-sign-in</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.PASTE_IOS_CLIENT_ID</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>PASTE_IOS_CLIENT_ID.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlegmail</string>
		<string>googlechrome</string>
		<string>x-apple-health</string>
	</array>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.PASTE_IOS_CLIENT_ID</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs camera access to measure vitals.</string>
	<key>SMARTSPECTRA_API_KEY</key>
	<string>PASTE_SMARTSPECTRA_API_KEY</string>
	<key>GEMINI_API_KEY</key>
	<string>PASTE_GEMINI_API_KEY</string>
	<key>GEMINI_PROJECT_NUMBER</key>
	<string>PASTE_GEMINI_PROJECT_NUMBER</string>
</dict>
</plist>
